defaults:
  run:
    shell: bash --noprofile --norc -euo pipefail {0}
jobs:
  annotate:
    if: github.repository_owner == 'trinodb'
    runs-on: self-hosted
    steps:
    - continue-on-error: true
      name: Download artifact
      uses: actions/github-script@v7
      with:
        script: "const fs = require('fs');\nconst opts = github.rest.actions.listWorkflowRunArtifacts.endpoint.merge({\n\
          \   owner: context.repo.owner,\n   repo: context.repo.repo,\n   run_id:\
          \ ${{github.event.workflow_run.id }},\n});\nconst artifacts = await github.paginate(opts);\n\
          for (const artifact of artifacts) {\n  if (!artifact.name.startsWith('test\
          \ report ')) {\n    continue;\n  }\n  const download = await github.rest.actions.downloadArtifact({\n\
          \     owner: context.repo.owner,\n     repo: context.repo.repo,\n     artifact_id:\
          \ artifact.id,\n     archive_format: 'zip',\n  });\n  fs.writeFileSync('${{github.workspace}}/'\
          \ + artifact.name + '.zip', Buffer.from(download.data));\n}\n"
    - continue-on-error: true
      run: "set -x\npwd\nls\nfor archive in *.zip; do\n  # $archive is literally *.zip\
        \ if there are no zip files matching the glob expression\n  [ -f \"$archive\"\
        \ ] || continue\n  name=$(basename \"$archive\" .zip)\n  mkdir \"$name\"\n\
        \  (cd \"$name\" && unzip ../\"$archive\")\ndone\n"
    - continue-on-error: true
      uses: scacap/action-surefire-report@7263a78ba060b395c8a0a0e58fc897efb1bddb7c
      with:
        commit: ${{github.event.workflow_run.head_sha}}
        fail_if_no_tests: false
    - continue-on-error: true
      uses: starburstdata/action-testng-report@ce8d903c91ed324a708db57174ec34416e8a3eea
      with:
        commit: ${{github.event.workflow_run.head_sha}}
        fail_if_empty: false
        github_token: ${{ github.token }}
name: Annotate checks
on:
  repository_dispatch:
    types: trigger-ga___annotate.yml
