jobs:
  cancel:
    runs-on: self-hosted
    steps:
    - continue-on-error: true
      name: Cancel Runs For Closed PRs
      uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa
      with:
        access_token: ${{ github.token }}
        ignore_sha: true
        workflow_id: ci.yml,docs.yml
    timeout-minutes: 5
name: cleanup
on:
  repository_dispatch:
    types: trigger-ga___cleanup.yml
